[Desktop Entry]
Type=Application
Name=Teams Linux
Comment=Автозапуск Microsoft Teams в трее
Exec=env GDK_BACKEND=x11 teams-linux --minimized
Icon=teams-linux
Terminal=false
X-GNOME-Autostart-enabled=true
NoDisplay=false
StartupWMClass=teams-linux
